In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [2]:
order = pd.read_csv ('C:/Users/navee/OneDrive/Desktop/Data Science Assignments/Assignment 3 - Hypothesis Testing/Costomer+OrderForm.csv')

In [3]:
order.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [4]:
order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [7]:
order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [8]:
order1= pd.DataFrame(index=['Error Free','Defective'],data={'Phillippines':[271,29],'Indonesia':[267,33],'Malta':[269,31],'India':[280,20]})

In [9]:
order1

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [10]:
# As we are trying to find out the realtionshiop between defective ratios, will perform chi-square test 
# Hypothesis Statement
#Ho - Defective %  is same for all centres
#H1 - Defective %  is not same for all centres

In [11]:
stat, p, dof, expected = chi2_contingency(order1)

In [12]:
p

0.2771020991233135

In [13]:
# Since pvalue (0.27) > alpha (0.05), we accept null hypothesis Ho
# Hence it conculded that defective %  is same for all centres at 5% significance level